$fontSizes: (
  3xs: 0.87rem,
  2xs: 0.93rem,
  xs: 1rem,
  sm: 1.06rem,
  md: 1.13rem,
  lg: 1.46rem,
  xl: 2.13rem,
  2xl: 2.66rem,
  3xl: 3.19rem,
);

@each $sizeKey, $sizeValue in $fontSizes {
  .text-size-#{$sizeKey} {
    font-size: #{$sizeValue} !important;
  }
}
