$font-family-sans-serif: "Poppins", sans-serif;
$headings-font-family: "Oswald", sans-serif;
$card-border-width: 0;

$navbar-padding-y: 25px;

$theme-colors: (
  "primary": #871b08,
);

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/badge";

@import "navbar";
@import "border-widths";
@import "font-sizes";
@import "sticky";
