<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:url" content="http://thepeoplesdemandsdc.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The People's Demands DC" />
    <meta
      property="og:description"
      content="Help demand adequate COVID-19 response from DC officials!"
    />
    <meta
      property="og:image"
      content="http://www.thepeoplesdemandsdc.com/open-photo.jpeg"
    />
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>
  <body data-spy="scroll" data-target="#sidenav">
    <nav class="navbar navbar-expand-lg border-bottom border-3 border-primary">
      <a href="#content" class="sr-only sr-only-focusable"
        >Skip to main content</a
      >
      <div class="container">
        <button
          class="navbar-toggler btn-outline-primary border-2 rounded"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <ion-icon name="menu-outline" class="text-size-xl"></ion-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <a class="navbar-brand" href="/">
            <h1
              class="text-uppercase font-weight-bold text-primary pt-4 pt-lg-0"
            >
              We Demand.
            </h1>
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://drive.google.com/file/d/1463BvMuBpICdTNBAfAGo7J1vgbCHhmCT/view"
                target="_blank"
                >FAQ</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="mailto:thepeoplesdemandsdc@gmail.com"
                target="_blank"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <span id="main">
      <%= htmlWebpackPlugin.options.body %>
    </span>

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </body>
</html>
