<div class="container mt-2 mb-2">
	<p id="intro" class="p-5 lead">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>

<div class="bg-light">
	<div id="demands" class="container pt-5 pb-5">
		<% pageData.demands.forEach((demand, index) => { %>
			<div id="demand-<%= index %>" class="card border-bottom border-secondary pb-2">
				<div class="card-header font-weight-bold bg-white">
					<%= index + 1 %>
				</div>
				<div class="card-body">
					<h5 class="card-title text-uppercase text-primary"><%= demand.title %></h5>
					<p class="card-text"><%= demand.body %></p>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<div class="bg-dark text-white text-size-md">
	<div id="about" class="container p-5">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>
