<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6 pt-2 pb-5">
      <div class="text-center text-lg-left">
        <h1 class="display-3 text-uppercase text-primary mb-5">
          The People's Demands DC
        </h1>
        <a class="btn btn-lg btn-primary" href="#demands">Read the Demands</a>
      </div>
    </div>
    <div id="intro" class="col-lg-6 lead">
      <p>
        The following are the People’s Demands of Washington, DC for the
        <span class="badge badge-primary text-size-lg">COVID-19</span> pandemic.
        This list represents the thoughts and contributions of thousands of DC
        residents and organizations representing the people.
      </p>
      <p>
        These demands are imperative for our survival, our growth and are a
        reflection of the DC we want to live in.
      </p>
      <details>
        <summary class="text-primary">Read More</summary>
        <div>
          <p>
            We acknowledge that this list may be limited and that it would not
            be possible to include everyone’s specific demands. We consolidated
            and prioritized the demands that were reflected by the most people,
            always prioritizing those experiencing the most harm.
          </p>

          <p>
            We also acknowledge that while there was not as much representation
            from marginalized voices as we were hoping with the survey
            respondents, the responses do show that the recommendations are
            supported by a cross-section of the District’s racial and income
            groups. The demands below are the results of an initial, quick
            turnaround survey. We will continue to engage and grow the number of
            people who engage with the survey and with our organizing process
            around the demands.
          </p>

          <p>
            We recognize that many of these demands take full plans, budgets and
            details. Many organizations have monetary breakdowns of the specific
            demands and can be contacted for specific plans.
          </p>
        </div>
      </details>
    </div>
  </div>
</div>

<div class="bg-light" id="demands">
  <div class="container pt-5 pb-5">
    <nav
      id="mobile-demand-nav"
      class="sticky d-md-none mb-5"
      style="height: 38px;"
    >
      <button
        class="btn btn-primary btn-block"
        type="button"
        data-toggle="collapse"
        data-target="#demand-nav"
        aria-expanded="false"
        aria-controls="demand-nav"
      >
        Guide
      </button>
      <div class="list-group sticky collapse" id="demand-nav">
        <% pageData.demands.forEach((demand) => { %>
        <a class="list-group-item" href="#<%= demand.id %>"
          ><%= demand.category %></a
        >
        <% }) %>
      </div>
    </nav>
    <h1 class="text-primary">We, the People of DC, demand the following:</h1>
    <div class="row">
      <div class="col-12 col-md-3 d-none d-md-block">
        <div class="list-group sticky pt-5" id="sidenav">
          <% pageData.demands.forEach((demand) => { %>
          <a class="list-group-item" href="#<%= demand.id %>"
            ><%= demand.category %></a
          >
          <% }) %>
        </div>
      </div>
      <div class="col-12 col-md-9" data-offset="0">
        <% pageData.demands.forEach((demand) => { %>
        <div id="<%= demand.id %>" class="pt-5">
          <h2 class="text-primary"><%= demand.category %></h2>
          <p><%= demand.lead %></p>
          <h3 class="text-uppercase text-size-lg mt-5">
            We, the People of DC, demand:
          </h3>
          <% demand.list.forEach((item, index) => { %>
          <div
            id="<%= demand.id %>-<%= index %>"
            class="card border-bottom border-secondary rounded-0 pb-2 bg-light"
          >
            <div
              class="card-header font-weight-bold text-size-md bg-light pr-0 pl-0"
            >
              <%= index + 1 %>
            </div>
            <div class="card-body pr-0 pl-0">
              <p class="card-text text-size-md"><%= item %></p>
            </div>
          </div>
          <% }) %>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<div class="bg-dark text-white text-size-lg">
  <div id="about" class="container pt-5 pb-5">
    <div class="col-xl-10 m-auto">
      <h1 class="display-3 mt-2 mb-5">About</h1>
      <p>
        We are a group of Black and brown people deeply invested in building the
        power and unity of poor and working class people in DC.
      </p>
      <p>
        We came together through the DC Mutual Aid Network, and are committed to
        co-creating demands with the people of DC&mdash;our neighbors, homies,
        lovers, teachers, co-workers and more.
      </p>
      <p>
        We are people who live in DC, work in DC, raise children in DC, go to
        church in DC, graduated college in DC, went to high school in DC, teach
        in DC, love in DC, organize in DC, and people who have called DC "home"
        for multiple generations.
      </p>
      <p>
        We speak multiple languages, some of us work and some of us are out of
        work and some of us work and get paid a wage too low to really call it
        living.
      </p>
      <p>
        But most importantly, we are people who believe the government can and
        must do more to protect and provide for the people of this city.
      </p>
      <p>
        Get in touch with us at
        <a
          href="mailto:thepeoplesdemandsDC@gmail.com"
          class="text-info text-break"
        >
          thepeoplesdemandsdc@gmail.com</a
        >.
      </p>
    </div>
  </div>
</div>
