<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6 pt-2 pb-5">
      <h1
        class="display-3 text-uppercase text-primary mb-5 text-center text-lg-left"
      >
        The People's Demands DC
      </h1>
      <div class="row">
        <div class="col-md-6 col-lg-5 mb-2">
          <a
            class="btn btn-primary btn-lg btn-block"
            href="https://forms.gle/womHXTDVU7Bw3uWu8"
            target="_blank"
            >Take the Survey</a
          >
        </div>
        <div class="col-md-6 col-lg-5 mb-2">
          <a
            class="btn btn-light btn-lg btn-block"
            href="https://drive.google.com/file/d/1463BvMuBpICdTNBAfAGo7J1vgbCHhmCT/view"
            target="_blank"
            >Read the FAQ</a
          >
        </div>
      </div>
    </div>
    <div id="intro" class="col-lg-6 lead">
      <p>
        As the
        <span class="badge badge-primary text-size-lg">COVID-19</span> crisis
        continues to develop, it is critical that we develop a set of demands
        that protect our people and primarily reflect the beliefs and needs of
        folks that are Black, brown, immigrants, indigenous, low-income and
        native Washingtonians.
      </p>
      <p>
        <span class="text-primary font-weight-bold"
          >We are developing a list of demands</span
        >
        with the help of community members, students of all ages, organizers,
        advocates and activists. We want to make sure that our finalized list of
        demands has been shared with and supported by as many DC folks as
        possible, particularly Black, brown, immigrant, low-income, indigenous
        and native Washingtonian residents.
        <span class="text-primary font-weight-bold">Take the survey</span> today
        and give your input today!
      </p>
    </div>
  </div>
</div>

<!-- <div class="bg-light">
  <div id="demands" class="container pt-5 pb-5">
    <% pageData.demands.forEach((demand, index) => { %>
    <div
      id="demand-<%= index %>"
      class="card border-bottom border-secondary rounded-0 pb-2"
    >
      <div class="card-header font-weight-bold bg-white">
        <%= index + 1 %>
      </div>
      <div class="card-body">
        <h5 class="card-title text-uppercase text-primary">
          <%= demand.title %>
        </h5>
        <p class="card-text"><%= demand.body %></p>
      </div>
    </div>
    <% }) %>
  </div>
</div> -->

<div class="bg-dark text-white text-size-lg">
  <div id="about" class="container p-5">
    <h1 class="display-3 mt-2 mb-5">About</h1>
    <p>
      We are a group of Black and brown people deeply invested in building the
      power and unity of poor and working class people in DC.
    </p>
    <p>
      We came together through the DC Mutual Aid Network, and are committed to
      co-creating demands with the people of DC&mdash;our neighbors, homies,
      lovers, teachers, co-workers and more.
    </p>
    <p>
      We are people who live in DC, work in DC, raise children in DC, go to
      church in DC, graduated college in DC, went to high school in DC, teach in
      DC, love in DC, organize in DC, and people who have called DC "home" for
      multiple generations.
    </p>
    <p>
      We speak multiple languages, some of us work and some of us are out of
      work and some of us work and get paid a wage too low to really call it
      living.
    </p>
    <p>
      But most importantly, we are people who believe the government can and
      must do more to protect and provide for the people of this city.
    </p>
    <p>
      Get in touch with us at
      <a href="mailto:thepeoplesdemandsDC@gamil.com" class="text-info">
        thepeoplesdemandsdc@gmail.com</a
      >.
    </p>
  </div>
</div>
